<div class="container">
  <div class="mt-5 mb-2">
    <button
      type="button"
      class="btn btn-outline-info btn-sm"
      (click)="goToBack()"
    >
      back to list
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <form
      [formGroup]="categoryForm"
      (ngSubmit)="sendDataToApi($event)"
      class="p-2 rounded-3 shadow width__50"
    >
      <fieldset>
        <legend>Category to update</legend>
        <div class="mb-3">
          <label for="name" class="form-label">name</label>
          <input
            type="text"
            formControlName="name"
            [class.is-valid]="isNameFieldValid"
            [class.is-invalid]="isNameFieldInvalid"
            id="name"
            class="form-control"
            placeholder="category name"
          />
          <ng-container *ngIf="isNameFieldInvalid">
            <div class="invalid-feedback">
              <span
                class="form-text text-danger d-block"
                *ngIf="nameField?.hasError('required')"
                >Name is required</span
              >
              <span
                class="form-text text-danger d-block"
                *ngIf="
                  nameField?.hasError('minlength') ||
                  nameField?.hasError('maxlength')
                "
                >Must be min {{ min }} or max {{ max }} characters long</span
              >
            </div>
          </ng-container>
        </div>

        <div class="mb-3">
          <label for="file" class="form-label">select image</label>
          <input
            type="file"
            name="file"
            [class.is-valid]="isImageFieldValid"
            [class.is-invalid]="isImageFieldInvalid"
            id="file"
            class="form-control"
            accept="image/*"
            (change)="uploadFile($event)"
          />
          <ng-container *ngIf="isImageFieldInvalid">
            <div class="invalid-feedback">
              <span
                class="form-text text-danger d-block"
                *ngIf="imageField?.hasError('required')"
                >image is required</span
              >
            </div>
          </ng-container>
        </div>
        <div class="row mb-1" *ngIf="previousImg">
          <div class="col-md-4">
            <img
              [src]="previousImg"
              alt="previou image"
              class="img-fluid rounded"
            />
          </div>
        </div>
        <button
          type="submit"
          name="saveButton"
          id="saveButton"
          class="btn btn-primary"
        >
          update category
        </button>
      </fieldset>
    </form>
  </div>
</div>
