<div class="container">
  <!-- table data -->
  <ng-container *ngIf="categories.length > 0; else noResult">
    <div class="table-responsive-md">
      <table class="table caption-top table-dark table-hover">
        <caption>
          List of categories
        </caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">image</th>
            <th scope="col">created at</th>
            <th scope="col">options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.name }}</td>
            <td class="container__img">
              <img
                [src]="category?.image"
                [alt]="category.name"
                class="img-fluid rounded"
              />
            </td>
            <td>{{ category.createdAt | date: "short" }}</td>
            <td>
              <div class="btn-group-sm">
                <a [routerLink]="['/categories/edit']" class="btn btn-info"
                  >Edit</a
                ><a
                  [routerLink]="['/categories/delete']"
                  class="btn btn-danger ms-1"
                  >Delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noResult>
    <p class="alert alert-info mt-3 text-center">
      No result of categories yet...
    </p>
  </ng-template>

  <!-- paginator component -->
  <app-paginator
    (emitPage)="goToPage($event)"
    [totalData]="totalCategories"
    [path]="'/categories/list'"
    [pageSize]="pageSize"
  ></app-paginator>
</div>
